kubeconfig         = "~/.kube/config"
namespace          = "dvp"

image_repository   = "dvp-worker"
image_tag          = "local"

rpc_url            = "http://192.168.1.15:8545"
contract_address   = "0xYOUR_CONTRACT_ADDRESS"
registrar_api_url  = "http://192.168.1.15:3000"
start_block        = 0

# Заполни локально в terraform.tfvars, НЕ коммитить!
# oracle_private_key = "0x..."
# registrar_api_token = "..."
